# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
dist/
build/
.env
.env.local
.cache

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

.venv
__pycache__
*.index
*.pkl
docs/
*.rdb
tmp/
*.faiss
